body {
    position: relative;
    margin: 0;
    padding: 0;
  }
  
nav {
    height: 100px;
    width: 100%;
    border-bottom: 10px solid pink;
    background-color: lightblue;
}

nav ul {
    display: inline;
}
